<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<span th:fragment="header"> | <a  sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">ADMIN</a> <span sec:authorize="hasRole('ROLE_ADMIN')">|</span> <a href="/store">STORE</a> | <a href="/logout">LOGOUT</a> | Logged in as <span sec:authentication="name"></span> with role(s) <span sec:authentication="principal.authorities"></span></span>
</body>
</html>