<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div>Home</div>
    <hr>
    <div>PET</div>
    <br>
    <div>Add pet</div>
    <form action="/pet/form/add" method="post" id="add_pet">
        <select id="category_id_add" name="category_id_add" th:size=1>
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:text="${category.name}">
        </select>
        <input type="text" name="name" placeholder="Pet name">
        <select id="tag_id_list_add" name="tag_id_list_add" th:size="${#lists.size(tags)}" multiple>-->
            <option th:each="tag : ${tags}"
                    th:value="${tag.id}"
                    th:text="${tag.name}">
        </select>
        <button type="submit" id="submit_add_pet">ADD</button>
    </form>
    <br>
    <div>Search pet by ID</div>
    <form action="/pet/form/getbyid" method="get" id="get_pet_by_id">
        <input type="text" name="id" placeholder="Pet ID">
        <button type="submit" id="submit_get_pet_by_id">SEARCH</button>
    </form>
    <br>
    <div>List all pets</div>
    <form action="/pet/form/getallhtml" method="get" id="get_all_pets_html">
        <button type="submit" id="submit_get_all_pets_html">LIST AS HTML</button>
    </form>
    <br>
    <form action="/pet/form/getalljson" method="get" id="get_all_pets_json">
        <button type="submit" id="submit_get_all_pets_json">LIST AS JSON</button>
    </form>
    <br>
    <div>Update pet</div>
    <form action="/pet/form/update" method="get" id="update_pet_with_form">
        <select id="pet_id_update" name="pet_id_update" th:size=1>
            <option th:each="pet : ${pet_list}"
                    th:value="${pet.id}"
                    th:text="${pet.name}">
        </select>
        <select id="category_id_update" name="category_id_update" th:size=1>
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:text="${category.name}">
        </select>
        <input type="text" name="name" placeholder="Pet new name">
        <select id="tag_id_list_update" name="tag_id_list_update" th:size="${#lists.size(tags)}" multiple>-->
            <option th:each="tag : ${tags}"
                    th:value="${tag.id}"
                    th:text="${tag.name}">
        </select>
        <select id="pet_status" name="pet_status" th:size=1>
            <option th:each="pet_status : ${pet_status_list}"
                    th:value="${pet_status}"
                    th:text="${pet_status}">
        </select>
        <button type="submit" id="submit_update_pet_with_form">UPDATE</button>
    </form>
    <br>
    <div>Delete pet</div>
    <form action="/pet/form/delete" method="get" id="delete_pet">
        <select id="pet_id_delete" name="pet_id_delete" th:size="${#lists.size(pet_list)}" multiple>-->
            <option th:each="pet : ${pet_list}"
                    th:value="${pet.id}"
                    th:text="${pet.name}">
        </select>
        <button type="submit" id="submit_delete_pet">DELETE</button>
    </form>
    <br>
    <hr>
    <div>ORDER</div>
    <br>
    <div>Add order</div>
    <form action="/order/form/add" method="post" id="add_order">
        <select id="pet_id_add_order" name="pet_id_add_order" th:size=1>
            <option th:each="pet : ${available_pet_list}"
                    th:value="${pet.id}"
                    th:text="${pet.name}">
        </select>
        <input type="number" name="quantity" placeholder="Quantity">
        <input type="date" name="ship_date" placeholder="Ship date">
        <button type="submit" id="submit_add_order">PLACE</button>
    </form>
    <br>
    <div>Search order by ID</div>
    <form action="/order/form/getbyid" method="get" id="get_order_by_id">
        <input type="text" name="id" placeholder="Order ID">
        <button type="submit" id="submit_get_order_by_id">SEARCH</button>
    </form>
    <br>
    <div>List all orders</div>
    <form action="/order/form/getallhtml" method="get" id="get_all_orders_html">
        <button type="submit" id="submit_get_all_orders_html">LIST AS HTML</button>
    </form>
    <br>
    <form action="/order/form/getalljson" method="get" id="get_all_orders_json">
        <button type="submit" id="submit_get_all_orders_json">LIST AS JSON</button>
    </form>
    <br>
    <div>Update order</div>
    <form action="/order/form/update" method="get" id="update_order_with_form">
        <select id="order_id_update_order" name="order_id_update_order" th:size=1>
            <option th:each="order : ${order_list}"
                    th:value="${order.id}"
                    th:text="${order.id}">
        </select>
        <select id="order_status_update_order" name="order_status_update_order" th:size=1>
            <option th:each="order_status : ${order_status_list}"
                    th:value="${order_status}"
                    th:text="${order_status}">
        </select>
        <select id="order_iscomplete_update_order" name="order_iscomplete_update_order" size=1>
            <option value="true">Completed</option>
            <option value="false">Not completed</option>
        </select>
        <button type="submit" id="submit_update_order_with_form">UPDATE</button>
    </form>
    <br>
    <div>Delete order</div>
    <form action="/order/form/delete" method="get" id="delete_order">
        <select id="order_id_delete" name="order_id_delete" th:size="${#lists.size(order_list)}" multiple>-->
            <option th:each="order : ${order_list}"
                    th:value="${order.id}"
                    th:text="${order.id}">
        </select>
        <button type="submit" id="submit_delete_order">DELETE</button>
    </form>
<!--    <br>-->
<!--    <hr>-->
<!--    <p th:inline="text">Logged in as <span th:remove="tag" sec:authentication="name">username</span></p>-->
<!--    <form th:action="@{/logout}" method="post">-->
<!--        <input type="submit" value="LOGOUT"/>-->
<!--    </form>-->
</body>
</html>