<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <title>Spring Pet Store</title>
    <style>
        * {
            font-family: 'Open Sans', Helvetica; font-size: small;
        }
        table, th, td {
            text-align: center;
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 3px;
        }
        th {
            font-weight: bold;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Ordered Pet</th>
        <th>Quantity</th>
        <th>Ship Date</th>
        <th>Status</th>
        <th>Complete</th>
        <th>User</th>
    </tr>
    <tr th:each="order:${order_list}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.pet.name}"></td>
        <td th:text="${order.quantity}"></td>
        <td th:text="${order.shipDate}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.complete}"></td>
        <td th:text="${order.user.username}"></td>
    </tr>
</table>
</body>
</html>