<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <title>Spring Pet Store</title>
    <style>
        * {
            font-family: 'Open Sans', Helvetica; font-size: small;
        }
        table, th, td {
            text-align: center;
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 3px;
        }
        th {
            font-weight: bold;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Pet Status</th>
        <th>Photos</th>
    </tr>
    <tr th:each="pet:${pet_list}">
        <td th:text="${pet.id}"></td>
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.description}"></td>
        <td th:text="${pet.status}"></td>
        <td th:text=${pet_photo_list.get(pet.name)}></td>
    </tr>
</table>
</body>
</html>