<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div>@HOME</div>
<br>
<div>Welcome to the Spring Pet Store!</div>
<br>
<img th:src="@{images/Welcome.jpg}"/>
<br>
<div>Currently available pets:</div>
<table>
    <tr th:each="pet:${available_pet_list}">
        <td th:text="${pet.name}"></td>
<!--        <td><img th:src="@{${pet.photoUrl}}"></img></td>-->
    </tr>
</table>
<br>
<div>Please <a href="/store">log in</a> to order.</div>
</body>
</html>